<style type="text/css">

  div.test{
  
  }
  div.home{
  	background-image: url(../Thoughtland_files/Old_Paper.jpg);
  	padding: 90px 90px 20px 90px;
  	vertical-align: middle;
  	border: 1px #FFF;
  	width: 965;
  	left: 30%;
  	margin: auto;
  }
  H1{
  	color: #630;
  }
  table.tab{
  	text-align: left;
  	
  }
  td.row{
  	text-align: right;
  	width: 90px;
  }
  td.row2{
  	width: 50%;
  }
  td.row3{
  	width: 790px;
  	text-align: right;
  }

</style>
