<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>thoughtland</servlet-name>
        <servlet-class>net.duboue.thoughtland.ui.servlet.ThoughtlandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thoughtland</servlet-name>
        <url-pattern>/tl*</url-pattern>
    </servlet-mapping>
</web-app>