<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>thoughtland</servlet-name>
        <servlet-class>net.duboue.thoughtland.ui.servlet.ThoughtlandServlet</servlet-class>
<multipart-config>
    <location>/tmp</location>
    <max-file-size>20848820</max-file-size>
    <max-request-size>418018841</max-request-size>
    <file-size-threshold>1048576</file-size-threshold>
</multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>thoughtland</servlet-name>
        <url-pattern>/tl*</url-pattern>
    </servlet-mapping>
</web-app>